<html lang="en">
        <%- include('./partials/head.ejs') %>
    <body>
            <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid, minus eaque ratione, ullam impedit voluptates nobis aut facere maxime voluptatibus necessitatibus iste earum perferendis praesentium amet saepe dolore. Ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid, minus eaque ratione, ullam impedit voluptates nobis aut facere maxime voluptatibus necessitatibus iste earum perferendis praesentium amet saepe dolore. Ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid, minus eaque ratione, ullam impedit voluptates nobis aut facere maxime voluptatibus necessitatibus iste earum perferendis praesentium amet saepe dolore. Ducimus.</p>
    </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>